.Middle {
  width: 1500px;
  height: 750px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.Middle .M1, .Middle .M2 {
  height: 100%;
  float: left;
}

.Middle .M1 {
  width: 40%;
}

.Middle .M2 {
  width: 60%;
}

.Middle p, .Middle input, .Middle textarea, .Middle button {
  font-weight: bold;
}

.Middle input, .Middle textarea, .Middle button {
  border: 2px solid black;
  padding: 2px;
}

.Middle textarea {
  resize: none;
}

.Middle input, .Middle textarea, .Middle .is, .Middle .bt {
  margin: 2px;
  font-weight: bold;
}

.Middle .words, .Middle .bt {
  float: right;
}

.Middle .word {
  width: 492px;
}

.Middle .words {
  width: 192px;
  height: 500px;
}

.Middle .is, .Middle .bt {
  width: 200px;
  height: 50px;
}

/* 수정 예정 */