body * {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
}
p, label, input, select, textarea {
    padding: 2px;
    font-weight: bold;
}
input, select, textarea {
    border-width: 2px;
}
.Middle {
	width: 1500px;
    height: 1200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.Bottom {
    width: 100%;
}
table {
    width: 100%;
	margin-left: auto;
	margin-right: auto;
    border-spacing: 0;
}
td, th {
    height: 40px;
    text-align: center;
}
p, h1 {
    text-align: center;
}
label {
    font-size: 20px;
}
input[type=text] {
    width: 100%;
    height: 25px;
}
input[type=checkbox] {
    width: 25px;
    height: 25px;
}
select {
    width: 100%;
    height: 33px;
}
textarea {
    width: 100%;
    height: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    resize: none;
}
textarea[readonly=readonly]{
    height: 400px;
}