body {
    padding: 0px;
    margin: 0px;
}
body * {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
}
.Top {
    width: 100%;
	height: 30px;
	background-color: #EEEEEE;
}
.menu {
	width: 100px;
	height: 100%;
	background-color: #EEEEEE;
}
.Middle {
	width: 1500px;
    height: 750px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.Bottom {
    width: 100%;
}
p, input, textarea {
    padding: 2px;
    font-weight: bold;
}
input, textarea {
    border-width: 2px;
}
.inputwords, .inputjuje, .showwords, .buttoncopy {
    margin: 2px;
}
.inputwords, .inputjuje {
    float: left;
}
.showwords, .buttoncopy {
    float: right;
}
.inputwords, .showwords {
    height: 500px;
    width: 192px;
    resize: none;
}
.inputjuje {
    width: 600px;
    height: 42px;
}
.buttoncopy {
    width: 200px;
    height: 50px;
    border-width: 2px;
    font-weight: bold;
}