body {
    padding: 0px;
    margin: 0px;
}
body * {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
}
.Middle {
	width: 1500px;
    height: 750px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.Bottom {
    width: 100%;
}