* {
    margin: 0;
    border: 0;
    padding: 0;
}
button {
	background-color: #F0F0F0;
}
button:hover, button.focus {
    background-color: #B4B4B4;
}
.Top {
	height: 30px;
	background-color: #F0F0F0;
}
.Top button {
	font-size: 15px;
	width: 100px;
	height: 100%;
}
@media (max-width: 600px) {
	.Top button {
		width: 50px;
	}
}